<!-- Modal: Alert -->
<div class="modal black-overlay-modal alert-modal">
    <ion-header-bar>
        <h1>Reminder</h1>
        <span class="alerts-with-count">
            <span class="icon-sprite icon-alerts"></span>
            <span class="alert-count" data-ng-show="alertsLength > 0">
                <span>{{ alertsLength }}</span>
            </span>
        </span>
    </ion-header-bar>
    <ion-content>
        <div class="padded-container">
            <ul class="list alert-list">
                <li class="item" data-ng-repeat="alert in alerts">
                    <h2>{{ alert.name }}</h2>
                    <div class="address">
                        <p>{{ alert.location }}</p>
                        <a href="javascript:;">Find Location</a>
                    </div>
                    <div class="countdown">
                        Event starts in <span class="countdown-time">{{ alert.countdown }}</span>
                    </div>
                </li>
            </ul>
        </div> <!-- end div.padded-container -->
    </ion-content>
    <!-- Footer -->
    <ion-footer-bar class="button-footer bar bar-footer">
        <div class="buttons-1">
            <button type="button" class="button blue" data-ng-click="alertModal.hide(); disblurMainContent()">Dismiss</button>
        </div>
    </ion-footer-bar>
</div> <!-- end modal -->

