<!-- Modal: Sign In -->
<div class="modal overlay-modal sign-in-modal">
    <ion-content>
        <div class="padded-container">
            <h1>Sign In</h1>
            <div class="list">
                <!-- Email field -->
                <div class="label-wrapper">
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="" data-ng-model="signIn.email">
                    </label>
                    <a href="javascript:;" class="input-delete" data-ng-click="clearEmail()" data-ng-show="signIn.email.length">
                        <span class="icon-sprite icon-input-delete"></span>
                    </a>
                </div>
                <!-- Password field -->
                <div class="label-wrapper">
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="" data-ng-model="signIn.password">
                    </label>
                    <a href="javascript:;" class="input-delete" data-ng-click="clearPassword()" data-ng-show="signIn.password.length">
                        <span class="icon-sprite icon-input-delete"></span>
                    </a>
                </div>
            </div> <!-- end .list -->
        </div> <!-- end div.padded-container -->
    </ion-content>
    <!-- Footer -->
    <ion-footer-bar class="button-footer bar bar-footer">
        <div class="buttons-2">
            <button type="button" class="button blue" data-ng-click="cancelSignInModal()">Cancel</button>
            <button type="button" class="button blue has-border" data-ng-click="processSignInModal()">OK</button>
        </div>
    </ion-footer-bar>
</div> <!-- end modal -->
