<ion-view title="Sponsors">
    <ion-nav-buttons side="right">
        <button class="button" data-ng-click="toggleMainMenu()">
            <span class="icon-sprite icon-menu"></span>
        </button>
    </ion-nav-buttons>
    <ion-content delegate-handle="main-scroll">
        
        <div data-ng-repeat="sponsor in sponsorsList | orderBy:sortLevels">
            <div ng-if="sponsor.newTitle"> <!-- if previous element doesn't have the same level -->
                <div class="title-bar {{ sponsor.level }}">
                    <h2>TCO14 {{ sponsor.level }} Sponsor</h2>
                </div>
                
            </div>
            <ul class="list sponsor-list">
                <li class="item" data-ng-click="showSponsorDetailModal(sponsor)">
                    <!-- src is an empty image data -->
                    <img class="sponsor-logo"  data-ng-src="{{ sponsor.logo }}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" alt="">
                    <span class="sponsor-text">{{ sponsor.name }}</span>
                    <span class="icon-sprite icon-blue-arrow-right"></span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>