<ion-view title="" hide-nav-bar="true">
    <ion-content class="welcome-page">
        <div class="welcome-page-wrapper">
            <div class="welcome-image">
                <div class="icon-tco14"></div>
            </div>
            <div class="welcome-title">
                <h1>Lorem Ipsum Dolor Totem Sit Amet Adispicus</h1>
            </div>
            <div class="footnote">
                <p>powered by</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="button-footer">
        <div class="buttons-2">
            <button type="button" class="button blue" data-ng-click="signIn()">Sign In</button>
            <button type="button" class="button green" data-ng-click="signUp()">Sign Up</button>
        </div>
    </ion-footer-bar>
</ion-view>
